#par{
    height: 800px;
    width: 100%;
    background-color: lightcyan;
}
#sub1{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
h1{
    text-align: center;
}
#sub2{
    height: 600px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}
#sub3{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
#sub11{
    height: 250px;
    width: 300px;
    background-color: white;
    float: left;
    position:absolute;
    left: 100px;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#sub12{
    height: 250px;
    width: 300px;
    background-color:white;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0px;
    left: 550px;
}
#sub13{
    height: 250px;
    width: 300px;
    background-color: white;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0px;
    left:1000px;
}
#sub14{
    height: 250px;
    width: 300px;
    background-color: white;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 550px;
    top: 300px;
}
#sub15{
    height: 250px;
    width: 300px;
    background-color: white;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 1000px;
    top: 300px;
}
#sub16{
    height: 250px;
    width: 300px;
    background-color: white;
    float: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 100px;
    top: 300px;
}
#sub111{
    height: 20px;
    width: 300px;
    background-color: darkmagenta;
}
#sub112{
    height: 20px;
    width: 300px;
    background-color: darkcyan;
}
#sub113{
    height: 20px;
    width: 300px;
    background-color: lightgreen;
}
#sub114{
    height: 20px;
    width: 300px;
    background-color: violet;
}
#sub115{
    height: 20px;
    width: 300px;
    background-color: pink;
}
#sub116{
    height: 20px;
    width: 300px;
    background-color: yellow;
}
#ic1{
    color: white;
  position: relative;
   font-size: 30px;
   top: 10px;
   left: 10px;
}
#sub1111{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:darkmagenta;
}
#sub1112{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:darkcyan;
}
#sub1113{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:lightgreen;
}
#sub1114{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:violet;
}
#sub1115{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:pink;
}
#sub1116{

    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:yellow;
}

#ic2{
    color: white;
    font-size: 30px;
    top: 10px;
    position: relative;
    left: 10px;
    
}
#ic3{
    color: white;
    font-size: 30px;
   
    top: 10px;
    position: relative;
    left: 10px;
}
#ic4{
    color:white;
    font-size: 30px;
 
    top: 10px;
    position: relative;
    left: 10px;
}
#ic5{
    color:  white;
    font-size: 30px;
    
    top: 10px;
    position: relative;
    left: 10px;
}
#ic6{
    color:white;
    font-size: 30px;
    
    top: 10px;
    position: relative;
    left: 10px;
}
#h3{
    padding-left: 10px;
}
#p{
    padding-left: 10px;
}
#h9{
    text-align:center ;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color:palevioletred;
    position: relative;
    top: 20px;
}